@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss forms;

.selected-day {
    height: 35px;
    width: 35px;
    background-color: rgb(9, 162, 144);
    border-radius: 50%;
}

@media screen and (max-width: 561px) {
    .selected-day {
        height: 35px;
        width: 25px;
        font-size: 18px;
        background-color: rgb(9, 162, 144);
        border-radius: 50%;
    }
}


.first-column{
    
}

@media screen and (max-width: 561px) {
    .first-column{
        display: none;

    }
}

.react-calendar__month-view__days > .react-calendar__tile,
.react-calendar__month-view__weekdays__weekday {
  flex-basis: 20% !important;
  max-width: 20% !important;
}

.react-calendar__month-view__weekdays__weekday:nth-child(6),
.react-calendar__month-view__weekdays__weekday:nth-child(7) {
  display: none !important;
}

.react-calendar__month-view__days__day--weekend {
  display: none !important;
}

.react-calendar button{
  border-radius: 15px;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(188, 159, 181), rgb(213, 175, 204))
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%
}